* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-bottom: 1px solid black;
}

footer {
    background-color: #01439C;
}

a {
    text-decoration: none;
}

.ap_button {
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #2D64E6;
    text-decoration: none;
}

.ap_button.ap_acquista {
    background-color: #CD3D10;
}

.ap_button.ps_now_btn,
.ap_button.ps_plus_btn {
    background-color: #D9DADC;
}

.ap_button:hover{
    outline: 2px solid white;
    outline-offset: -5px;
}

.ap_button.ap_acquista:hover {
    outline: 2px solid black;
    outline-offset: -5px;
}

.ap_button.ps_now_btn:hover {
    outline: 2px solid black;
    outline-offset: -5px;
}

.ap_button.ps_plus_btn:hover {
    outline: 2px solid #C6C5C5;
    outline-offset: -2px;
}