/* DEBUG */

.debug {
    background-color: #0070D1;
    border: 1px solid red;
}

.h70 {
    height: 70px;
}
.h100 {
    height: 100px;
}

.w100 {
    width: 100px;
}

/* /DEBUG */

/* HEADER */
.sony {
    height: 30px;
}
/* /HEADER */

/* JUMBOTRON */

.jumbotron {
    height: 500px;
}

.jumbotron .box {
    margin-top: 120px;

}

.box {
    width: 40%;
}
/* /JUMBOTRON */

/* MAIN */


.takes_2 .box {
    width: 40%;
}

/* .social_icons {
    margin: 75px 0;
} */

.social_icons h2 {
    margin: 30px 0 ;
}

/* .social_i {
    width: 80px;
    height: 80px;
    margin: 10px;
} */
/* /MAIN */

/* FOOTER */
/* /FOOTER */