
/* HEADER */


.sony {
    background-color: black;
}

.sony img{
    width: 8%;
}

header nav ul { 
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 15px;
}

header nav {
    height: 60px;
}

nav .search_lens {
    width: 30px;
}

header nav ul li .ap_button {
    background-color: #363636;
}

.drop_down_toggle img{
    margin-left: 3px;
    width: 12px;
}
.chevron_up {
    display: none;

}

.drop_down_toggle a:focus .chevron_up {
    display: inline-block;
    transform: rotate(180deg);
}

.drop_down_toggle a:focus .chevron_down {
    display: none;
}
.dropdown_burger {
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: none;
}

.dropdown_burger i {
    font-size: 25px;
    color: #737373;
    padding: 8px 15px;
}

/* /HEADER */

/* JUMBOTRON */

.jumbotron {
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

/* /JUMBOTRON */

/* MAIN */
.ps5_accessories{
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    opacity: 0.6;
    transition: opacity 0.5s;
}

.ps5_accessories:hover {
    opacity: 1;
}

.ps5_accessories.active {
    border-bottom: 2px solid #0067CE;
    opacity: 1;
}

.game_cards {
    padding: 10px;
}

.game_cards.active img{
    border-radius: 10px;
    outline: 2px solid #0060CA;
    outline-offset: 2px;
}


.game_cards img,
.new_entries img{
    border-radius: 10px;
}

.sovra-titolo {
    margin-bottom: 3px;
    font-size: 14px;
}

.takes_2 {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.takes_2 .box {
    max-height: 100%;
}

.new_entries {
    background-color: #1F1F1F;
}

.new_entries .col p{
    font-size: 13px;
}

.ps_plus {
    background-color: #BDBCBB;
}

.ps_plus .box > img{
    width: 45%;
}

.ps_4 .col,
.ps_store .col {
    padding: 10px;
}

.ps_now {
    background-color: #171C3B;
}
/* /MAIN */

/* FOOTER */

.language-globe {
    width: 20px;
}

footer a {
    color: white;
}

footer ul li {
    margin: 5px 0;
}

.foot_copy {
    margin-top: 20px;
    font-size: 13px;
}

.foot_copy a {
    text-decoration: underline;
}
/* /FOOTER */

/* MEDIA */

@media screen and (max-width: 809px) {
    .ps_now_image, 
    .ps_plus_image {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .jumbotron .box img {
        width: 50%;
    }
}
@media screen and (max-width: 992px) {
    .jumbotron .box img {
        width: 75%;
    }
}

@media screen and (max-width: 890px) {
    nav ul.left_nav,
    nav ul.right_nav {
        display: none !important;
    }
    .dropdown_burger {
        display: inline-block;
    }
}
/* /MEDIA */

/* CARD HOVER */

/* 
ANIMAZIONE ALTERNATIVA

.game_cards:hover {
    animation-name: rise;
    position: relative;
    animation-duration: 0.5s;
}

@keyframes rise {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 10px;
    }
} */
.game_cards {
    transition: transform 0.6s;
}
.game_cards:hover {
    transform: translateY(-15px);
}
/* /CARD HOVER */

